@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#080808;
    --second-bg-color:#101010;
    --text-color:white;
    --main-color:#2EE5D6;
}

html{
    scroll-behavior: smooth;
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}


.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 8%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:1000;   
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);          
}

span{
    background: linear-gradient(
        270deg, 
        #007EE5 10%,
        #00C1E5 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);   
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color:var(--main-color);
    border-bottom:  3px solid var(--main-color);
}

.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg, 
        #007EE5 10%,
        #00C1E5 100%
    );
    letter-spacing: 1px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover{
    transform: scale(1.05);
}


.home{
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3{
    margin: 1rem 0;
    font-size: 2.5rem;
}

.home-content p {
    font-size: 1.5rem;
    line-height: 1.8;
}

.home-img img{
    object-fit: cover;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0  0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);

}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 0.5rem;
    background:transparent ;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: #fff;
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group{
    display: flex;
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;    
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--main-color),
    0 0 15px var(--main-color);
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow:  0 0 25px transparent;
}

.btn-gourp a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

/*  Sobre mim */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--bg-color);
}

.about-img img{
    width: 32vw;
    border: 50%;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.about-content h2{
    font-size: 7rem;
    text-align: left;
}

.about-content p {
    font-size: 1.8rem;
}

.about-content .btn{
    margin: 3rem 0;
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

/* Ferramentas */

#ferramentas{
    background: var(--second-bg-color);
    padding: 10rem 5%;
}


.stack-area {
    width: 100%;
    height: 300vh;
    position: relative;
    display: flex;

  }
  .left {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
    
  }

  .right {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
  }
  /*Styling for the left elements content starts here...*/
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
  }
  .title {
    width: 420px;
    font-size: 84px;
    font-family: poppins;
    font-weight: 700;
    line-height: 88px;
  }
  .sub-title {
    width: 420px;
    font-family: poppins;
    font-size: 14px;
    margin-top: 30px;
  }
  .sub-title button {
    font-family: poppins;
    font-size: 14px;
    padding: 15px 30px;
    background: black;
    color: white;
    border-radius: 8mm;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
  }
  /*Styling for the left elements content ends here...*/

  .card {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin-bottom: 10px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    transition: 0.5s ease-in-out;
  }
  .card:nth-child(1) {
    background: rgb(64, 122, 255);
  }
  .card:nth-child(2) {
    background: rgb(43, 97, 221);
  }
  .card:nth-child(3) {
    background: rgb(7, 53, 161);
  }
  .card:nth-child(4) {
    background: rgb(71, 118, 226);
  }
  /* .card:nth-child(5) {
    background: rgb(3, 34, 105);
  }
  .card:nth-child(6) {
    background: rgb(3, 34, 105);
  } */

  /*Styling for the card content starts here...*/
  .card {
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sub {
    font-family: poppins;
    font-size: 20px;
    font-weight: 700;
  }

  .title,
  .sub-title{
    color: rgb(255, 255, 255);
  }
  .content {
    font-family: poppins;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 54px;
  }
  /*Styling for the card content ends here...*/

  .away {
    transform-origin: bottom left;
  }

/* Services */

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
    color: rgb(255, 255, 255);
}

.services{
    background-color: var(--bg-color);
    color: black;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.services-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 400px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;;
}

.services-box:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.services-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.services-info h4{
    font-size: 3rem;
    margin: 2rem 0 ;    
    font-weight: 800;
}

.services-info p{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7;
}

.services-info i{
    font-size: 8rem;
}

/* Projetos */

.projects{
    background-color: var(--second-bg-color);
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 15rem;
    row-gap: 5rem;
}


.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;  
    padding: 2rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow:  0 0 5px var(--main-color);
    transition: 0.3s ease-in-out;
}

.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
    transform: scale(1.02);
}

.project-card img{
    width: 30em;
    height: 20em;
    border-radius: 2rem;
    object-fit: cover;
}

.project-card h3{
    font-size: 3rem;
}

.project-card p{
    font-size: 1.2rem;
}

/* Contatos */

.contact{
    background-color: var(--bg-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;

}

/* Footer */

.footer{
    background-color: var(--second-bg-color);
    padding: 50px 0;
}

.footer .social-icons{
    text-align: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: white;
    border-bottom: 3x solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.section-highlight {
    animation: fadeIn 0.8s ease-in-out;
}




